  {% include 'layout/header.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{page_title}}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">{{page_title}}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">{{title}}</h3>

                <div class="card-tools">
                  
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-striped text-nowrap">

                    {% for siswa in datasiswa %}
                  <tr>
                    <td>Nama Siswa :</td>
                    <td>{{siswa.nama_siswa}}</td>
                  </tr>
                  <tr>
                    <td>Jenis Kelamin :</td>
                    <td>{{siswa.jenis_kelamin}}</td>
                  </tr>
                  <tr>
                    <td>Tempat Tanggal Lahir :</td>
                    <td>{{siswa.tempat_lahir}}, {{siswa.tanggal_lahir}}</td>
                  </tr>
                  <tr>
                    <td>Alamat :</td>
                    <td>{{siswa.alamat_siswa}}</td>
                  </tr>
                  <tr>
                    <td>Asal Sekolah :</td>
                    <td>{{siswa.asal_sekola}}</td>
                  </tr>
                  <tr>
                    <td>Gaji Pokok Orang Tua :</td>
                    <td>{{siswa.gaji_pokok}}</td>
                  </tr>
                    {% endfor %}
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>


        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">{{title2}}</h3>

                <div class="card-tools">
                  
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive  p-0">
                <table class="table table-hover table-bordered text-nowrap">
                  <thead class="bg-info">
                    <tr>
                      <th>Nama Sekolah</th>
                      <th>Alamat Sekolah</th>
                      <th>Jarak</th>
                      <th>Biaya</th>
                      <th>Bobot</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for rekomendasi_sekolah in rekomendasi %}
                    <tr>
                      <td>{{rekomendasi_sekolah.nama_sekolah}}</td>
                      <td>{{rekomendasi_sekolah.alamat_sekolah}}</td>
                      <td>{{rekomendasi_sekolah.jarak}} Meter</td>
                      <td>{{rekomendasi_sekolah.biaya}}</td>
                      <td>{{rekomendasi_sekolah.bobot}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% include 'layout/footer.html' %}